android/ linguist-vendored
ios/ linguist-vendored
linux/ linguist-vendored
macos/ linguist-vendored
windows/ linguist-vendored
web/ linguist-vendored

/CMakeLists.txt linguist-vendored
/*.cmake linguist-vendored
/*.gradle linguist-vendored
/*.plist linguist-vendored
/*.xcconfig linguist-vendored
/*.entitlements linguist-vendored
/*.h linguist-vendored
/*.cpp linguist-vendored
/*.c linguist-vendored
/*.cc linguist-vendored
/*.swift linguist-vendored
/*.kt linguist-vendored
**/*.java linguist-vendored

*.dart linguist-detectable