# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS related
ios/Flutter/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
*.xcuserstate
*.xcodeproj/project.xcworkspace/

# Android related
android/.gradle/
android/app/build/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Web related
web/.dart_tool/
web/build/

# macOS related
macos/Flutter/ephemeral/
macos/build/

# Windows related
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/build/

# Linux related
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
app.*.symbols
app.*.map.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Obfuscation/Symbolication related
app.*.symbols
app.*.map.json
