.drop-panel {
    position: absolute;
    top: 90px;
    width: 150px;
    background-color: rgb(46, 46, 46);
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 8px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 2px;
}

.drop-panel > a > .drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: rgb(225, 225, 225);
    gap: 4px;
}

.drop-panel > a{
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 8px;
    border-radius: 4px;
}

.drop-panel > a:hover {
    background-color: rgba(20, 20, 20, 0.300);
}