.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.balance-block {
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.500);
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 4px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: whitesmoke;
}

.avatar > img {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0, 0.150);
    border-radius: 5rem;
    cursor: pointer;
}
